body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(../images/1-hero-image.png);
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    margin: 0 1rem;
}

.bright-text {
    color: white;
}

.colored-text {
    color: #FFA737;
}

.btn-main {
    background-color: #FFA737;
    border-radius: 50px;
    border: 0px;
    padding: 0.8rem 1.8rem;
    color: white;
    font-size: 0.8rem;
}

.btn-alt {
    background-color: white;
    border-radius: 50px;
    padding: 0.8rem 1.8rem;
    font-size: 0.8rem;
    border: 2px solid black;
}

.main-icon {
    color: #FFA737;
    font-size: 2rem;
}

.jumbo {}

.presentation {
    text-align: center;
    background-color: #F7F8F9;
}

.pres-col {
    background-color: white;
}

.services {
    background-image: url(../images/pattern_background.png);
    background-size: cover;
    background-color: #001061;
    background-position: center;
    text-align: center;
}

.img-news {
    width: 100%;
}

.serv-link {
    color: #FFA737;
    vertical-align: middle;
}

.fa-chevron-right {
    color: #FFA737;
    font-size: 0.6rem;
    vertical-align: middle;
    margin-left: 5px;
}

.serv-col {
    background-color: midnightblue;
}

.work {
    text-align: center;
}

.plans {
    background-image: url(../images/background1.jpg);
    text-align: center;
}

.plan-col {
    background-color: white;
}

.news {
    text-align: center;
    background-color: #F8F8F8;
}

.feedback {
    text-align: center;
}

.testimonial {
    border-radius: 50%;
}

.contact {
    background-image: url(../images/CTA-seo-1.jpg);
    background-size: cover;
    text-align: center;
    filter: grayscale(80%);
}

footer {
    text-align: center;
}

.selector {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.foot-icon {
    font-size: 2rem;
    margin: 0 1rem;
}