/* UTILITIES */

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    margin: 0 1rem;
}

a:hover {
    color: #FFA737;
}

.bright-text {
    color: white;
}

.dark-text {
    color: black;
}

.colored-text {
    color: #FFA737;
}

.btn-main {
    background-color: #FFA737;
    border-radius: 50px;
    border: 0px;
    padding: 0.8rem 1.8rem;
    color: white;
    font-size: 0.8rem;
}

.btn-main:hover {
    background-color: #556EED;
}

.btn-alt {
    background-color: white;
    border-radius: 50px;
    padding: 0.8rem 1.8rem;
    font-size: 0.8rem;
    border: 2px solid black;
}

.btn-alt:hover {
    background-color: #FFA737;
    border: 2px solid #FFA737;
    color: white;
}

.main-icon {
    color: #FFA737;
    font-size: 2rem;
}

.hover-title:hover {
    color: #FFA737;
}

/* GENERAL */

/* HEADER STYLE */

header {
    background-image: url(../images/1-hero-image.png);
    background-size: cover;
    background-position: center;
}

/* PRESENTATION STYLE */

.presentation {
    text-align: center;
    background-color: #F7F8F9;
}

.pres-col {
    background-color: white;
}

/* SERVICES STYLE */

.services {
    background-image: url(../images/pattern_background.png);
    background-size: cover;
    background-color: #001061;
    background-position: center;
    text-align: center;
}

.serv-link {
    color: #FFA737;
    vertical-align: middle;
}

.fa-chevron-right {
    color: #FFA737;
    font-size: 0.6rem;
    vertical-align: middle;
    margin-left: 5px;
}

.serv-col {
    background-color: midnightblue;
}

/* WORK STYLE */

.work {
    text-align: center;
}

.work-col {
    background-color: #556EED;
    position: relative;
}

.work-img {
    width: 100%;
}

.work-img:hover {
    display: none;
}

.fa-link {
    position: absolute;
    font-size: 2rem;
    top: 105px;
    left: 150px;
    color: white;
}

/* PLANS STYLE */

.plans {
    background-image: url(../images/background1.jpg);
    text-align: center;
}

.plan-col {
    background-color: white;
}

.plan:hover {
    color: #607AFE;
}

.currency {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
}

.price-tag {
    display: inline-block;
    font-size: 3.5rem;
    color: #556EED;
}

.price-tag-end {
    display: inline-block;
    font-size: 0.8rem;
}

.price-end {
    text-align: left;
    color: #556EED;
}

/* NEWS STYLE */

.news {
    text-align: center;
    background-color: #F8F8F8;
}

.img-news {
    width: 100%;
}

/* FEEDBACK STYLE */

.feedback {
    text-align: center;
}

.testimonial {
    border-radius: 50%;
}

.selector {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: white;
}

.selector:hover {
    background-color: black;
}

/* CONTACT STYLE */

.contact {
    position: relative;
}

.background {
    background-image: url(../images/CTA-seo-1.jpg);
    background-size: cover;
    filter: brightness(40%);
    height: 55vh;
    position: relative;
}

.content {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 555px;
}

/* FOOTER STYLE */

footer {
    text-align: center;
}

.foot-icon {
    font-size: 2rem;
    margin: 0 1rem;
}