body {
    height: 100vh;
}

header {
    background-image: url(../images/1-hero-image.png);
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    margin: 0 1rem;
}

.bright-text {
    color: white;
}

.btn-main {
    background-color: orange;
    border-radius: 50px;
    border: 0px;
    padding: 0.5rem 1rem;
    color: white;
}

.main-icon {
    color: orange;
    font-size: 2rem;
}

.jumbo {
    height: 600px;
}

.presentation {
    text-align: center;
    background-color: #F7F8F9;
}

.pres-col {
    background-color: white;
}

.services {
    height: 500px;
    background-image: url(../images/pattern_background.png);
    background-size: cover;
    background-color: blue;
}

.work {
    height: 500px;
}

.plans {
    height: 500px;
    background-image: url(../images/background1.jpg);
}

.news {
    height: 500px;
}

.feedback {
    height: 600px;
}

.contact {
    height: 300px;
    background-image: url(../images/CTA-seo-1.jpg);
}

footer {
    height: 300px;
}